/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&mt ESCAPE EQUAL  &lt 4 Q         &kp W  &kp E      &kp R        &kp T        &kp Y            &kp U        &kp I             &kp O    &kp P           &kp MINUS
&kp LEFT_SHIFT    &kp A           &kp S  &kp D      &kp F        &kp G        &kp H            &kp J        &kp K             &kp L    &kp SEMICOLON   &kp BACKSLASH
&kp LEFT_GUI      &mt LEFT_ALT Z  &kp X  &kp C      &kp V        &kp B        &kp N            &kp M        &kp COMMA         &kp DOT  &mt RALT SLASH  &mt RIGHT_CONTROL SINGLE_QUOTE
                                         &lt 1 F20  &lt 2 ENTER  &lt 1 TAB    &lt 2 BACKSPACE  &lt 3 SPACE  &kp LEFT_CONTROL
            >;
        };

        layer1 {
            bindings = <
&kp GRAVE  &kp N1        &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9            &kp N0             &trans
&trans     &none         &none   &none   &none   &none     &none   &none   &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans     &kp LEFT_ALT  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans            &trans             &trans
                                 &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer2 {
            bindings = <
&kp GRAVE       &kp F1        &kp F2  &kp F3  &kp F4   &kp F5     &kp N7         &kp N8  &kp N9  &kp MINUS   &kp SLASH     &kp ESCAPE
&kp LEFT_SHIFT  &kp F6        &kp F7  &kp F8  &kp F9   &kp F10    &kp N4         &kp N5  &kp N6  &kp PLUS    &kp ASTERISK  &kp BACKSPACE
&kp LEFT_GUI    &kp LEFT_ALT  &trans  &trans  &kp F11  &kp F12    &kp N1         &kp N2  &kp N3  &kp PERIOD  &kp EQUAL     &kp ENTER
                                      &trans  &trans   &kp TAB    &kp BACKSPACE  &kp N0  &trans
            >;
        };

        layer3 {
            bindings = <
&trans  &trans        &none   &none           &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &kp HOME       &kp END         &kp UP      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &trans        &none   &kp C_MUTE      &kp C_VOLUME_DOWN     &kp C_VOLUME_UP         &kp PAGE_UP    &kp LEFT        &kp DOWN    &kp RIGHT         &kp END            &kp RIGHT_SHIFT
&trans  &kp LEFT_ALT  &trans  &kp C_PREVIOUS  &kp C_PLAY_PAUSE      &kp C_NEXT              &kp PAGE_DOWN  &kp C_PREVIOUS  &kp C_NEXT  &trans            &mo 0              &kp RIGHT_CONTROL
                              &none           &none                 &none                   &none          &none           &none
            >;
        };

        layer4 {
            bindings = <
&none  &none  &none  &none  &none  &none    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&none  &none  &none  &none  &none  &none    &none                 &none                  &none           &kp LESS_THAN    &kp GREATER_THAN  &kp TILDE
&none  &none  &none  &none  &none  &none    &none                 &none                  &none           &none            &none             &none
                     &none  &none  &none    &none                 &none                  &none
            >;
        };
    };
};
