if SHIELD_TELPERION_LEFT

config ZMK_KEYBOARD_NAME
    default "Telperion"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TELPERION_LEFT || SHIELD_TELPERION_RIGHT

config ZMK_SPLIT
    default y
endif